.register-form {
  width: 500px;
}

.register-input {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.register-button {
  display: inline-block;
  height: 60px;
  width: 100%;
  margin-top: 4px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  transition: opacity 0.2s;
}

.register-button:hover {
  opacity: 0.75;
}

@media (max-width: 600px) {
  .register-form {
    width: 100%;
    margin: 10px;
  }
}
